* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #f25022, #7fba00, #00a4ef, #ffb900);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;
    padding: 20px;
    width: 355px;
    height: 355px;
    background-color: rgba(0,0,0,.25);
    
}

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #f25022;
    box-shadow: 
        165px 0 0 0 #7fba00, 
        0 165px 0 0 #00a4ef, 
        165px 165px 0 0 #ffb900;
    animation-name: colorchange;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    0% {
        background-color: #7fba00;
        box-shadow: 
        165px 0 0 0 #ffb900, 
        0 165px 0 0 #00a4ef, 
        165px 165px 0 0 #f25022;
    }

    50% {
        background-color: #00a4ef;
        box-shadow: 
        165px 0 0 0 #7fba00, 
        0 165px 0 0 #ffb900, 
        165px 165px 0 0 #f25022;
    }

    100% {
        background-color: #00a4ef;
        box-shadow: 
        165px 0 0 0 #7fba00, 
        0 165px 0 0 #f25022, 
        165px 165px 0 0 #ffb900;
    }
}
    
